/* button.css */

*:focus{
  outline:0;
}
.btn{
  color: #222;
  text-decoration: none;
  border:2px solid #eee;
  font-family: 'IBM Plex Sans',sans-serif;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: inline-block;
  text-align: center;
  padding: 0.8rem 1.8rem;
  margin: 0.5rem;
}
.btn:hover{
  background: #eee;
}
.btn.simple{
  padding: 4px 0;
  border:none;
  border-bottom: 1px solid transparent;
}
.btn.simple:hover{
  border-bottom:1px solid rgba(0,0,0,0.3);
  background: transparent;
}
.btn.rounded{
  border-radius: 6px;
}
.btn.super-rounded{
  border-radius: 45px;
}
.btn.circle{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  line-height: 1;
  box-sizing: border-box;
  padding: 1.3em 0;
}
.btn.circle.medium{
  width: 6rem;
  height: 6rem;
  padding: 1.8em 0;
}
.btn.circle.medium{
  width: 6rem;
  height: 6rem;
  padding: 1.8em 0;
}
.btn.circle.big{
  width: 7rem;
  height: 7rem;
  padding: 2.45em 0;
}
.btn.circle:hover{
  transform: rotate(180deg);
}
.btn.medium{
  padding: 1.15rem 2.15rem;
}
.btn.big{
  padding: 1.5rem 2.5rem;
}
.btn.black,.btn.dark-blue,.btn.blue,.btn.green{
  border:none;
  color: #fff;
}
.btn.green{
  background: #27ae60;
}
.btn.green:hover{
  background:#2ecc71;
}
.btn.blue{
  background: #2980b9;
}
.btn.blue:hover{
  background: #3498db;
}
.btn.dark-blue{
  background: #2c3e50;
}
.btn.dark-blue:hover{
  background: #34495e;
}
.btn.black{
  background: #000;
}
.btn.black:hover{
  background: #222;
}
.btn.red{
  background: #FF6464;
}
.btn.red:hover{
  background: #FF7D7D;
}

/* QR COde Css */
input {
  margin: 0.4em 0;
  padding: 0.8em;
  border: 0;
}

.qr-code {
  border: 1px solid #9999;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  transition: display 1s;
}

.hidden {
  display: none;
}
/* Fancy Generator */

.textfields{
  width:100%;
  max-width:500px;
  margin: 0 auto
}
.row{
display: flex;
margin-bottom: 1.75em;
box-sizing: border-box;
flex-wrap: wrap;
}
.row-2{
display: flex;
margin-bottom: 1.75em;
box-sizing: border-box;
flex-wrap: wrap;
text-align:left;
}
.column{
  flex-basis: 0;
flex-grow: 2;
  margin: 10px;
}
.row-2 .column{
flex-grow: 0;
 flex-basis: auto;
}
#my-text {
    padding: 5px 0;
    border: 1px solid #111;
    border-radius: 4px;
    background: #eee;
    min-height:3rem;
  width:100%;
  font-size:18px;
  margin:5px 0;
}

.name, .font-generator-kaomoji-kuma p{
  flex-grow: 1;
 flex-basis: auto;
  margin: 0px;
  padding:10px;
  
  line-height:20px;
  width:AUTO;
}

.font-generator-kaomoji-kuma p{
  background:#eee;
  border-radius:4px;
  
}
.font-generator-kaomoji-kuma p:hover {
    cursor: pointer;
    box-shadow:5px 5px #deb3e0
}
.font-generator-kaomoji-kuma{
display: flex;
margin-bottom: 1.75em;
box-sizing: border-box;
flex-wrap: wrap;
}
.copybutton {
    padding: 20px;
    border: 1px solid #111;
    border-radius: 4px;
    background:#9BB8ED;
    margin:0 0 10px;
    font-size:18px;
  width:200px;
}
.copybutton:hover {
    cursor: pointer;
    box-shadow:5px 5px #deb3e0
}
