html {
	background: #f1f1f1;
}
body {
	background: #fff;
	color: #444;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 2em auto;
	padding: 1em 2em;
	max-width: 700px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}
h1 {
	border-bottom: 1px solid #dadada;
	clear: both;
	color: #666;
	font-size: 24px;
	margin: 30px 0 0 0;
	padding: 0;
	padding-bottom: 7px;
}
#oh-astaga {
	margin-top: 50px;
}
#oh-astaga p,
#oh-astaga .ohasta-ga {
	font-size: 14px;
	line-height: 1.5;
	margin: 25px 0 20px;
}
#oh-astaga code {
	font-family: Consolas, Monaco, monospace;
}
ul li {
	margin-bottom: 10px;
	font-size: 14px ;
}
a {
	color: #0073aa;
        text-decoration: none
}
a:hover,
a:active {
	color: #00a0d2;
}
a:focus {
	color: #124964;
	-webkit-box-shadow:
	0 0 0 1px #5b9dd9,
	0 0 2px 1px rgba(30, 140, 190, 0.8);
	box-shadow:
	0 0 0 1px #5b9dd9,
	0 0 2px 1px rgba(30, 140, 190, 0.8);
	outline: none;
}
.button {
	background: #f7f7f7;
	border: 1px solid #ccc;
	color: #555;
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 2;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-webkit-appearance: none;
	border-radius: 3px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;

	-webkit-box-shadow: 0 1px 0 #ccc;
	box-shadow: 0 1px 0 #ccc;
	vertical-align: top;
}

.button.button-large {
	height: 30px;
	line-height: 2.15384615;
	padding: 0 12px 2px;
}

.button:hover,
.button:focus {
	background: #fafafa;
	border-color: #999;
	color: #23282d;
}

.button:focus {
	border-color: #5b9dd9;
	-webkit-box-shadow: 0 0 3px rgba(0, 115, 170, 0.8);
	box-shadow: 0 0 3px rgba(0, 115, 170, 0.8);
	outline: none;
}

.button:active {
	background: #eee;
	border-color: #999;
	-webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
}
img,canvas {
        width: 100%;
        height: auto;
        display: block;
}
svg { 
        position: fixed; 
        bottom: 10px; right: 10px; fill: #888; 
        opacity: 0.2; 
    }
.upload {
        position: relative;
        width: 100%;
        margin: 0 auto;
        display: block;
        box-sizing: border-box;
        color: #666;
        border: solid 1px #ccc;
        background-color: #fefefe;
}
.upload::before {
        content: "+";
        height: 100%;
        width: 30px;
        top: 0;
        right: 0;
        position: absolute;
        color: #666;
        text-align: center;
        line-height: 21px;
}
.upload::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
}
.upload [type="file"] {
       width: 100%;
       padding: 3px;
       box-sizing: border-box;
}
.upload [type="file"]::-webkit-file-upload-button {
       -webkit-appearance: none;
       width: 0;
       height: 0;
       padding: 0;
       border: 0;
}
/* copy */
::-moz-selection{background:#F0FF42}
::selection{background:#F0FF42}
/* blinker */
.blinker { 
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  display: inline-block;
}
@keyframes blinker { 
  from { opacity: 1.0; } to { opacity: 0.0; }
}
header {
  width: 100%;
  background: #f1f1f1;
  border-bottom: 1px solid #f0f0f0;
}
/* Copuright */
.copyright {
  position: fixed;
  right: 15px;
  bottom: 15px;
  font-family: "Roboto";
}
.copyright span {
  line-height: 36px;
  color: rgba(255, 255, 255, 0.75);
  margin-right: 10px;
  font-weight: 300;
}
.copyright span a {
  font-weight: 400;
  text-decoration: none;
  color: #ea4c89;
}
.copyright .susahcebok {
  width: 30px;
  height: 30px;
  display: block;
  background: url("https://avatars.githubusercontent.com/u/79414671?s=48&v=4");
  background-size: cover;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.75);
  float: right;
}
