body {
        background-color: #f0f0f2;
        margin: 0;
        padding: 0;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        
    }
article {
        width: 600px;
        margin: 5em auto;
        padding: 2em;
        background-color: #fdfdff;
        border-radius: 0.5em;
        box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
    }
footer {
        width: 600px;
        margin: 5em auto;
        padding: 0;
    }
img,canvas {
        width: 100%;
        height: auto;
}
.image-frame {
        position:relative;
        z-index:1;
        display:inline-block;
}

.image-frame img {
        padding:4px;
        background-color:#fff;
        border: 1px solid #b2b2b2;
        -webkit-box-shadow: 3px 3px 4px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    3px 3px 4px rgba(50, 50, 50, 0.75);
        box-shadow:         3px 3px 4px rgba(50, 50, 50, 0.75);
}
.upload {
        position: relative;
        width: 100%;
        margin: 0 auto;
        display: block;
        box-sizing: border-box;
        color: #666;
        border: solid 1px #ccc;
        background-color: #fefefe;
}
.upload::before {
        content: "+";
        height: 100%;
        width: 30px;
        top: 0;
        right: 0;
        position: absolute;
        color: #666;
        text-align: center;
        line-height: 21px;
}
.upload::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
}
.upload [type="file"] {
       width: 100%;
       padding: 3px;
       box-sizing: border-box;
}
.upload [type="file"]::-webkit-file-upload-button {
       -webkit-appearance: none;
       width: 0;
       height: 0;
       padding: 0;
       border: 0;
}
a:link, a:visited {
        color: #38488f;
        text-decoration: none;
    }
@media (max-width: 700px) {
article,footer {
        margin: 0 auto;
        width: auto;
        }
    }

