body {
        background-color: #f0f0f2;
        margin: 0;
        padding: 0;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        
    }
article {
        width: 600px;
        margin: 5em auto;
        padding: 2em;
        background-color: #fdfdff;
        border-radius: 0.5em;
        box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
    }
a:link, a:visited {
        color: #38488f;
        text-decoration: none;
    }
@media (max-width: 700px) {
article,footer {
        margin: 0 auto;
        width: auto;
        }
    }

footer{margin:0 auto 2em auto;text-align:center}footer a{color:#666;text-shadow:0 1px 1px #fff;text-decoration:none;font-size:.8em;padding:1em}footer a:focus,footer a:hover{color:#111}h1{font-weight:400;display:inline;border-bottom:1px solid #000;padding:0 0 3px 0;line-height:36px}
