<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=0.1'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <meta name="description"
    content="The MIT License is a permissive free software license originating at the Massachusetts Institute of Technology. As a permissive license, it puts only very limited restriction on reuse and has, therefore, an excellent license compatibility.">
    <link rel="icon" href='{{ site.url }}/favicon.ico'>
    <title>
        {% if page.title %}
            {{ page.title }}
        {% else %} 
            {{ site.name }} &mdash; {{ site.description }}
        {% endif %}
    </title>

    {% if site.highlighter %}
        <link rel='stylesheet' href='{{ site.url }}/assets/css/style.css' type='text/css'>
    {% endif %}
    
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>

<body>
    <article>

    {{ content }}

    </article>
  <footer>
  <p><a target="_blank" rel="noopener" href="#">Copyright © 2022 Ferry Ayunda.</a></p>
</footer>
</body>
</html>
