---
layout: default
---

<p class='notranslate'>&larr; <a href='{{ site.url }}/'>Home</a> / {{ page.title }}{{ page.shortUrl }} / <a id='share'>Share</a></p>

<h1 class='notranslate'>{{ page.title }}{{ page.shortUrl }}</h1>
        
<p>{{ content }}</p>

<p>
<div class="dropdown notranslate">
<select class="dropdown-select" onchange="doGTranslate(this);">
<option value="">Select Language</option>
<option value="id|af">Afrikaans</option>
<option value="id|sq">Albanian</option>
<option value="id|ar">Arabic</option>
<option value="id|hy">Armenian</option>
<option value="id|az">Azerbaijani</option>
<option value="id|eu">Basque</option>
<option value="id|be">Belarusian</option>
<option value="id|bg">Bulgarian</option>
<option value="id|ca">Catalan</option>
<option value="id|zh-CN">Chinese (Simplified)</option>
<option value="id|zh-TW">Chinese (Traditional)</option>
<option value="id|hr">Croatian</option>
<option value="id|cs">Czech</option>
<option value="id|da">Danish</option>
<option value="id|nl">Dutch</option>
<option value="id|en">English</option>
<option value="id|et">Estonian</option>
<option value="id|tl">Filipino</option>
<option value="id|fi">Finnish</option>
<option value="id|fr">French</option>
<option value="id|gl">Galician</option>
<option value="id|ka">Georgian</option>
<option value="id|de">German</option>
<option value="id|el">Greek</option>
<option value="id|ht">Haitian Creole</option>
<option value="id|iw">Hebrew</option>
<option value="id|hi">Hindi</option>
<option value="id|hu">Hungarian</option>
<option value="id|is">Icelandic</option>
<option value="id|id">Indonesian</option>
<option value="id|ga">Irish</option>
<option value="id|it">Italian</option>
<option value="id|ja">Japanese</option>
<option value="id|ko">Korean</option>
<option value="id|lv">Latvian</option>
<option value="id|lt">Lithuanian</option>
<option value="id|mk">Macedonian</option>
<option value="id|ms">Malay</option>
<option value="id|mt">Maltese</option>
<option value="id|no">Norwegian</option>
<option value="id|fa">Persian</option>
<option value="id|pl">Polish</option>
<option value="id|pt">Portuguese</option>
<option value="id|ro">Romanian</option>
<option value="id|ru">Russian</option>
<option value="id|sr">Serbian</option>
<option value="id|sk">Slovak</option>
<option value="id|sl">Slovenian</option>
<option value="id|es">Spanish</option>
<option value="id|sw">Swahili</option>
<option value="id|sv">Swedish</option>
<option value="id|th">Thai</option>
<option value="id|tr">Turkish</option>
<option value="id|uk">Ukrainian</option>
<option value="id|ur">Urdu</option>
<option value="id|vi">Vietnamese</option>
<option value="id|cy">Welsh</option>
<option value="id|yi">Yiddish</option>
</select>
</div>
</p>

<!-- that’s all folks! -->
<div class='copyright'><span>{{ page.title }}{{ page.shortUrl }} by</span><a href='https://www.facebook.com/bungferry.wa' class='susahcebok'></a></div>
   
{% if site.disqus-id %} {% include comments.html %} {% endif %}
